/src/cruise-mobile-service-client/target
/src/cruise-mobile-service/target
/src/cruise-mobile-service/build
target/
.settings/
/src/cruise-mobile/cruise-mobile-service/.classpath
/src/cruise-mobile/cruise-mobile-service/.project
__ConfigTemp/

.idea/
*.iml
*.project
*.classpath

obj/
bin/
.vs/
*.user
